:root {
    --licorice: #220c10ff;
    --tang-blue: #2b59c3ff;
    --imperial-red: #f15152ff;
    --darker-red: rgb(143, 41, 41);
    --battleship-gray: #878472ff;
    --columbia-blue: #ccdde2ff;
}

body {
    background-color: var(--columbia-blue);
    font-family: Arial, sans-serif;
    margin-bottom:5%;
}

#HomeContent{
    background-color: var(--battleship-gray);
    color: var(--licorice);
    padding: 2rem;
    margin: 0 auto;
    border-radius:0 0 25px 25px;
}

#HomeContent h1 {
    margin-bottom: 0;
}

#HomeHeader{
    background-color:var(--tang-blue);
    padding-top:15px;
    padding-left:32px;
    margin:0;
    width:100%;
    box-sizing:border-box;
    border-radius:25px 25px 0 0;
    color:var(--licorice);
}

h4{
    margin-bottom:0;
    padding-bottom:5px;
}

#HomeNavigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

#HomeNavigation a {
    text-decoration: none;
    color: var(--licorice);
    border:var(--darker-red) 1px solid;
    border-radius: 20px;
    padding:10px;
    background-color:var(--imperial-red);
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

#HomeNavigation a:hover {
    background-color: var(--licorice);
    color:white;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.flex-column{
    flex-direction:column;
}

.highlight-text {
    color: var(--imperial-red);
    font-weight: bold;
}

#navigation {
    top: 0;
    width: 100;
    background-color: var(--battleship-gray);
    background: rgba(#344055, 0.5);
    position:fixed;
    display:flex;
    justify-content:center;
    width:100%;
    text-align:center;
}

#navigation a {
    text-decoration: none;
    color: var(--licorice);
    /*make padding fill navbar height*/
    overflow:hidden;
}

#navigation a:hover {
    background-color: var(--licorice);
    color:white;
}

#navigation .navbar {
    flex-wrap: nowrap; /* Prevents the navbar from wrapping on smaller screens */
}

#navigation .navbar-nav {
    display: flex; /* Keeps the anchors in a horizontal row */
    flex-direction: row; /* Ensures the items are laid out in a row */
    justify-content: center; /* Centers the anchors horizontally */
    align-items: center; /* Vertically centers the anchors */
    width: 100%; /* Ensures the navbar spans the full width */
}

#navigation .nav-item {
    white-space: nowrap; /* Prevents text from breaking into multiple lines */
    margin: 0 10px; /* Adds spacing between the anchors */
}


#portrait{
    margin:auto;
    display:block;
    border-radius:175px;
    width:75%;
}

#contact {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#contact ul{
    padding:0;
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

#contact li {
    list-style-type: none;
    display: inline;
}

#contact i {
    padding: 5px;
    color: var(--licorice);
}