:root {
    --primary-color:#419D78;
    --primary-accent:rgb(80, 76, 69);
    --secondary-color:#FF5E5B;
    --tertiary-color:#3B322C;
    --text-color:#092327;
    --content-color:#EBEBD3;
    --page-background:#F2C3BB;
}

body {
    background-color: var(--page-background);
    font-family: Arial, sans-serif;
    margin-bottom:5%;
}

.content{
    background-color: var(--content-color);
    color: var(--licorice);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
    border-radius:0 0 15px 15px;
    border: 1.5px solid var(--tertiary-color);
}

.content h1 {
    margin-bottom: 0;
}

.content-header{
    background-color:var(--primary-color);
    padding-top:15px;
    margin:0;
    width:100%;
    box-sizing:border-box;
    border-radius:15px 15px 0 0;
    color:var(--text-color);
}

#portrait{
    margin:auto;
    display:block;
    border-radius:175px;
    width:75%;
}

.content-header h4{
    margin-left:12px;
}

#homeNavigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

#homeNavigation button, #homeNavigation a {
    text-decoration: none;
    color: var(--text-color);
    border:var(--primary-accent) 1px solid;
    border-radius: 20px;
    padding:10px;
    background-color:var(--secondary-color);
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
    width:100%;
}

#homeNavigation button:hover, #homeNavigation a:hover {
    background-color: var(--text-color);
    color:white;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.flex-column{
    flex-direction:column;
}

.highlight-text {
    color: var(--primary-color);
    font-weight: bold;
}

#contactIcons {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#contactIcons ul{
    padding:0;
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

#contactIcons li {
    list-style-type: none;
    display: inline;
}

#contactIcons i {
    padding: 5px;
    color: var(--text-color);
}