:root {
    --licorice: #220c10ff;
    --tang-blue: #2b59c3ff;
    --imperial-red: #f15152ff;
    --darker-red: rgb(143, 41, 41);
    --battleship-gray: #878472ff;
    --columbia-blue: #ccdde2ff;
}

body {
    background-color: var(--columbia-blue);
    font-family: Arial, sans-serif;
    margin-bottom:5%;
}

.content{
    background-color: var(--battleship-gray);
    color: var(--licorice);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    margin: 0 auto;
    border-radius:0 0 25px 25px;
}

.content h1 {
    margin-bottom: 0;
}

.content-header{
    background-color:var(--tang-blue);
    padding-top:15px;
    margin:0;
    width:100%;
    box-sizing:border-box;
    border-radius:25px 25px 0 0;
    color:var(--licorice);
}

#Portrait{
    margin:auto;
    display:block;
    border-radius:175px;
    width:75%;
}

.content-header h4{
    margin-left:12px;
}

#HomeNavigation {
    display: flex;
    justify-content: center;
    text-align: center;
}

#HomeNavigation a {
    text-decoration: none;
    color: var(--licorice);
    border:var(--darker-red) 1px solid;
    border-radius: 20px;
    padding:10px;
    background-color:var(--imperial-red);
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

#HomeNavigation a:hover {
    background-color: var(--licorice);
    color:white;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.flex-column{
    flex-direction:column;
}

.highlight-text {
    color: var(--imperial-red);
    font-weight: bold;
}

#contact {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}

#contact ul{
    padding:0;
    margin: 0 auto;
    display:flex;
    justify-content:center;
}

#contact li {
    list-style-type: none;
    display: inline;
}

#contact i {
    padding: 5px;
    color: var(--licorice);
}